* {
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body {
    height: 100vh; width: 100%;
    background: rgb(238,174,202);
    background: linear-gradient(165deg, rgba(238,174,202,1) 0%, rgba(195,148,233,1) 100%);
    justify-content: center;
    align-items: center;
    display: flex;
}
h2 {
    color: white;
    text-align: center;
    font-size: 40px;
}
#username {
    padding: 0.10rem;
    border: white solid 1px;
    border-radius: 10px;
    height: 50px; width: 200px;
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
}
input[type="password"] {
    padding: 0.10rem;
    border: white solid 1px;
    border-radius: 10px;
    height: 50px; width: 200px;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
}
input[type="submit"] {
    background-color: #37898c;
    color: white;
    padding: 0.25rem;
    border: #37898c solid 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
input[type="reset"] {
    background-color: #641b1b;
    color: white;
    padding: 0.25rem;
    border: #641b1b solid 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
a:hover {
    color: #002b54;
}
a:active {
    color:#186a3b;
}